
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

p, h1, h2, h3,
h4, h5, h6, button, a {
  color: white;
}

a {
  text-decoration: none;
  width: fit-content;
}

.wireframe * {
  outline: 1px solid red !important;
}